// Primary font
$primary-font:
	'Montserrat',
	-apple-system,
	BlinkMacSystemFont,
	'Segoe UI',
	Roboto,
	Oxygen,
	Ubuntu,
	Cantarell,
	'Fira Sans',
	'Droid Sans',
	'Helvetica Neue',
	sans-serif;

// Font weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

// Fonts
@mixin header {
	font-weight: $semibold;
	font-size: 2rem;
	line-height: 2.5rem;
}

@mixin p {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: $regular;
	font-family: $primary-font;
	font-weight: $regular;
}

@mixin s {
	font-size: 0.75rem;
	line-height: 1rem;
	display: block;
	font-weight: $regular;
	font-family: $primary-font;
	font-weight: $regular;
}
